h1{
    text-align: center;
    width: 50%;
    text-decoration:red underline wavy;
    letter-spacing: 2.5px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    text-align: left;
    text-decoration: white line-through;
}

h3{
    text-decoration: overline;
}

p{
    text-align: justify;
    width: 50%;
    font-weight: 600;
    line-height: normal;
    font-size: 20px;
}

a{
    text-decoration: none;
}