h1 {
     text-align: center;
     font-weight: 900;
     text-decoration:maroon double underline;     
    }

h2 {
     font-weight: 700;
     text-decoration: maroon underline;
   }

h3 {
     color: rgb(188, 22, 22);
     text-align: right;
     width: 50%;
     font-weight: 600;
     text-decoration: maroon wavy underline;
   }

p {
    color: white;
    text-align: justify;
    width: 50%;
    background-color: rgb(4, 133, 19);
  }

hr {
    border-width: 1mm;
   }

a {
    text-decoration: none;
  }
